site_name: My Tech Wiki

theme:
  name: material
  custom_dir: overrides

plugins:
  - search
  - roamlinks


markdown_extensions:
  - admonition
  - fenced_code
  - codehilite
  - toc:
      permalink: true
